<?xml version="1.0"?>
<launch>
    <arg name="plan_topic" default="/xyz_knowledge_base/planner_output" />
    <arg name="action_dispatch_topic" default="action_dispatch" />
    <arg name="action_feedback_topic" default="action_feedback" />

    <!-- rosplan knowledge base -->
    <node name="xyz_plan_dispatch" pkg="planning_node" type="xyz_plan_dispatch" respawn="false" output="screen">
        <param name="plan_topic" value="$(arg plan_topic)" />
        <param name="action_dispatch_topic" value="$(arg action_dispatch_topic)" />
        <param name="action_feedback_topic" value="$(arg action_feedback_topic)" />
    </node>

</launch>